.barbell {
  position: relative;
  width: 110px;
  height: 50px;
  margin-top: 100px;
}

.bar {
  position: absolute;
  width: 110px;
  height: 10px;
  background-color: #4e75ff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weight {
  position: absolute;
  width: 15px;
  background-color: #4e75ff;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}

/* Для кольору */
.barbell.light .bar,
.barbell.light .weight {
  background-color: #f4f4f4;
}

.barbell.dark .bar,
.barbell.dark .weight {
  background-color: #4e75ff;
}

/* Для розміру */
.barbell.big {
  transform: scale(1.2);
}

.barbell.medium {
  transform: scale(1);
}

.barbell.small {
  transform: scale(0.8);
}

.left.big {
  left: -30px;
  height: 76px;
}

.right.big {
  right: -30px;
  height: 76px;
}

.left.small {
  left: -30px;
  height: 56px;
}

.right.small {
  right: -30px;
  height: 56px;
}

@keyframes loadBigWeights {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
}

@keyframes loadSmallWeights {
  0%,
  100% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
}

@keyframes moveBigLeftWeights {
  0% {
    left: -30px;
  }
  30% {
    left: 25px;
  }
  70% {
    left: 25px;
  }
  100% {
    left: -30px;
  }
}

@keyframes moveBigRightWeights {
  0% {
    right: -30px;
  }
  30% {
    right: 25px;
  }
  70% {
    right: 25px;
  }
  100% {
    right: -30px;
  }
}

@keyframes moveSmallLeftWeights {
  0% {
    left: -30px;
  }
  30% {
    left: -30px;
  }
  50% {
    left: 10px;
  }
  70% {
    left: -30px;
  }
  100% {
    left: -30px;
  }
}

@keyframes moveSmallRightWeights {
  0% {
    right: -30px;
  }
  30% {
    right: -30px;
  }
  50% {
    right: 10px;
  }
  70% {
    right: -30px;
  }
  100% {
    right: -30px;
  }
}

.left.big {
  animation: loadBigWeights var(--anim-duration) infinite,
    moveBigLeftWeights var(--anim-duration) infinite;
}

.right.big {
  animation: loadBigWeights var(--anim-duration) infinite,
    moveBigRightWeights var(--anim-duration) infinite;
}

.left.small {
  animation: loadSmallWeights var(--anim-duration) infinite,
    moveSmallLeftWeights var(--anim-duration) infinite;
}

.right.small {
  animation: loadSmallWeights var(--anim-duration) infinite,
    moveSmallRightWeights var(--anim-duration) infinite;
}
